.intro{

width:100%;

min-height:100vh;

background:url("../assets/images/welcome-bg.png") center/cover no-repeat;

display:flex;

justify-content:center;

align-items:center;

position:relative;

overflow:hidden;

}
.invitation-page{
    background:url("../assets/images/invitation-bg.jpg") center/cover no-repeat !important;
}


.intro .overlay{

position:absolute;

inset:0;

background:linear-gradient(

rgba(0,0,0,.7),

rgba(0,0,0,.45)

);

backdrop-filter:blur(3px);

}



.intro-content{

position:relative;

z-index:5;

width:90%;

max-width:500px;

text-align:center;

color:#fff;

animation:introFade 1.5s ease;

}



.intro-content h2{

font-family:Cinzel,serif;

font-size:24px;

color:#FFD700;

margin-bottom:25px;

}



.intro-content h1{

font-family:Cinzel,serif;

font-size:48px;

margin-bottom:15px;

color:#fff;

}



.intro-content p{

font-size:18px;

letter-spacing:1px;

margin-bottom:40px;

color:#eee;

}



#openBtn{

padding:18px 50px;

border:none;

border-radius:60px;

background:linear-gradient(

45deg,

#FFD700,

#c89b3c

);

color:#000;

font-size:18px;

font-weight:700;

box-shadow:0 0 35px rgba(255,215,0,.8);

transition:.4s;

}



#openBtn:hover{

transform:scale(1.08);

}



#openBtn:active{

transform:scale(.95);

}



@keyframes introFade{

from{

opacity:0;

transform:translateY(60px);

}

to{

opacity:1;

transform:translateY(0);

}

}



@media(max-width:480px){


.intro-content h2{

font-size:20px;

}



.intro-content h1{

font-size:38px;

}



.intro-content p{

font-size:16px;

}



#openBtn{

padding:16px 35px;

}


}