*{

margin:0;

padding:0;

box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{

font-family:Poppins,sans-serif;

background:#000;

color:#fff;

overflow-x:hidden;

opacity:0;

transition:1s ease;

}



body.loaded{

opacity:1;

}



img{

max-width:100%;

display:block;

}



button,
a{

font-family:Poppins,sans-serif;

cursor:pointer;

}



a{

-webkit-tap-highlight-color:transparent;

}



::-webkit-scrollbar{

width:6px;

}



::-webkit-scrollbar-thumb{

background:#FFD700;

border-radius:20px;

}



::-webkit-scrollbar-track{

background:#111;

}



.reveal{

opacity:0;

transform:translateY(40px);

transition:.8s ease;

}



.reveal.active{

opacity:1;

transform:translateY(0);

}



.hidden{

display:none!important;

}



@media(max-width:480px){


body{

font-size:14px;

}


}