<!-- =====================
     GUEST WISHES
===================== -->

<button
id="wishBtn"
class="wishBtn"
title="Send Wishes">

💌

</button>



<div id="wishPopup">


    <div class="wishBox">


        <div class="wishHeader">

            <h2 id="wishHeading">
💌 शुभेच्छा पाठवा
</h2>


            <button id="closeWish">
                ✖
            </button>

        </div>



        <label id="wishNameLabel">
तुमचे नाव
</label>


        <input
        type="text"
        id="wishName"
        placeholder="तुमचे नाव">



        <label id="wishMessageLabel">
शुभेच्छा संदेश
</label>


        <textarea
        id="wishMessage"
        placeholder="तुमचा संदेश लिहा"></textarea>



        <button
        id="sendWishWhatsapp"
        class="sendWishBtn">

            💚 WhatsApp वर पाठवा

        </button>


    </div>


</div>